/*@import url(//db.onlinewebfonts.com/c/0d5f8cc3c1312e1f7c94b4ccf48733c0?family=Netflix+Sans+Icon);

@font-face {font-family: "Netflix Sans Icon"; src: url("//db.onlinewebfonts.com/t/0d5f8cc3c1312e1f7c94b4ccf48733c0.eot"); src: url("//db.onlinewebfonts.com/t/0d5f8cc3c1312e1f7c94b4ccf48733c0.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/0d5f8cc3c1312e1f7c94b4ccf48733c0.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/0d5f8cc3c1312e1f7c94b4ccf48733c0.woff") format("woff"), url("//db.onlinewebfonts.com/t/0d5f8cc3c1312e1f7c94b4ccf48733c0.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/0d5f8cc3c1312e1f7c94b4ccf48733c0.svg#Netflix Sans Icon") format("svg"); }
*/

@import url(components/container.css);
@import url(components/section.css);
@import url(components/visual.css);
@import url(components/text.css);
@import url(components/question.css);
@import url(components/footer.css);
@import url(components/mailbox.css);
@import url(components/banner.css);

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #FFFFFF;
    background: black;
    font-size: 1.2rem;
}

h1 {
    font-weight: bold;
}

h2 {
    font-size: 1.25rem;
}




#banner {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.8) 100%), url(../images/background.jpg);
    height: 700px;
    background-size: cover;
    background-position: center;
    text-align: center;
}

#text0 {
    color: white;
    font-weight: 600;
    font-size: 0.9em;
}

#text1 {
    color: #0071eb;
    font-size: 0.75em;
    font-weight: normal;
}

/* section devrait peut être ici être plus spécifique pour se référer à section 1 */
/*.section .section-text {
    width: 52%;
    height: 100%;
    -webkit-bbx-flex: 0;
    flex: 0 1 auto;
    padding: 0 3rem 0 0;
    z-index: 3;
}*/

/*
@media (max-width : 960px) {
    .container {
        width: 700px;
    }
}

@media (max-width: 720px) {
    .container {
      width: 500px;
    }
  }
  @media (max-width: 540px) {
    .container {
      width: 300px;
    }
  }
*/